---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { FIELD_NOTES } from "@consts";

const field_notes = (await getCollection("field_notes"))
  .filter(field_note => !field_note.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<PageLayout title={FIELD_NOTES.TITLE} description={FIELD_NOTES.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          field_notes.map((field_note) => (
            <li>
              <ArrowCard entry={field_note}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
